.card-notification_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84.8%;

  position: absolute;
  z-index: 33;
  left: 7.6%;
  top: 12%;

  border-radius: 32px;
  background-color: #4986CC;
}

.card-notification-image_wrap {
  margin: 33px 0;
}

.card-notification-text {
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.Panel--ios .card-notification-text {
  font-weight: 400;
  margin-bottom: 45px;
  width: 74.87%;
}

.Panel--android .card-notification-text {
  font-weight: 300;
  width: 60%;
  margin-bottom: 32px;
}

.card-notification-buttons {
  width: 74.87%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 112px;

  margin-bottom: 40px;
}

.card-notification-buttons .rectangle-button:nth-child(1) {
  border: 1.5px solid rgba(142, 200, 255, 0.4);
}

.card-notification-buttons .rectangle-button:nth-child(1) .rectangle-button_text {
  color: #8EC8FF;
}

.Panel--ios .card-notification-buttons .rectangle-button {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.Panel--android .card-notification-buttons .rectangle-button {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
}
