.favorites-page_wrap {
  display: flex;
  flex-wrap: wrap;
}

.Panel--ios .favorites-page_wrap {
  justify-content: space-between;
}

.Panel--android .favorites-page_wrap {
  justify-content: space-between;
}
