.favorites-page_wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: #F7F8F9;
  height: 100%;
}

.Panel--ios .favorites-page_wrap {
  justify-content: space-between;
}

.Panel--android .favorites-page_wrap {
  justify-content: space-evenly;
}
