/* #header-bg-tinder .PanelHeader--android .PanelHeader-bg {
  box-shadow: none;
}

#header-bg-tinder {
  box-shadow: none;
} */

.PanelHeader-left-in {
  display: flex;
  align-items: center;
}

.tinder_header_count_icon {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 20px;
  background-color: rgb(141, 230, 201);
  margin-left: 12px;
  padding: 0px 12px;
}

.tinder_header_count_likes {
  color: white;
  padding-left: 8px;
}

.PanelHeaderContent--android .PanelHeaderContent__children{
  font-size: 16px;
}