.main-header {
  height: 44px;
}

.tinder-header-icon-count {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 20px;
  background-color: rgb(141, 230, 201);
  margin: 6px 0px 0px 12px;
  padding: 0px 12px;
}

.PanelHeader .PanelHeader-left-in {
  font-size: 16px;
  font-weight: 500;
  height: auto;
}

.tinder-header-count-likes {
  color: white;
  padding-left: 6px;
}

.PanelHeaderContent--android .PanelHeaderContent__children{
  font-size: 16px;
}

#header-title-favorites .PanelHeaderContent__children span{
  display: flex;
}