.PanelHeader-left-in {
  display: flex;
  align-items: center;
}

.tinder-header-icon-count {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 20px;
  background-color: rgb(141, 230, 201);
  margin-left: 12px;
  padding: 0px 12px;
}

.tinder-header-count-likes {
  color: white;
  padding-left: 8px;
}

.PanelHeaderContent--android .PanelHeaderContent__children{
  font-size: 16px;
}

/* #header-title-favorites .PanelHeaderContent__children span{
  display: flex;
} */