.main-header {
  height: 44px;
}

.PanelHeaderContent--ios .PanelHeaderContent__aside {
  margin-left: 12px;
  height: 2px;
}

.PanelHeaderContent--android .PanelHeaderContent__aside {
  margin-left: 12px;
  height: 2px;
}

.PanelHeaderContent--android .PanelHeaderContent__children{
  font-size: 16px;
}

#header-title-favorites .PanelHeaderContent__children span{
  display: flex;
}

.header-title-counter {
  margin-left: 6px;
}