.tinder-page {
  position: relative;
  padding: 24px;
}

.tinder-page-button-wrap {
  display: flex;
  justify-content: space-between;

  margin-top: 24px;
}

.tinder-page-button-wrap .rectangle-button {
  box-shadow: 0 3px 16px rgba(174, 191, 207, 0.3);
  border: none;
  color: #AEBFCF;
  font-size: 14px;
}

/* .Panel--ios .rectangle-button {
  width: 47.70%;
}

.Panel--android .tinder-page .rectangle-button {
  width: 40.77%;
} */

.tinder-page .rectangle-button_text {
  font-size: 14px;
}

.Panel--android .tinder-page .rectangle-button_text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.tinder-page .rectangle-button_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 21px;
}

.tinder-page-button-wrap .rectangle-button:nth-child(2) .rectangle-button_icon {
  align-self: start;
  margin-right: 7px;
}

.tinder-page-button-wrap .rectangle-button:nth-child(1) .rectangle-button_wrap {
  height: 30px;
}

.Panel--android .tinder-page-button-wrap .rectangle-button:nth-child(1) .rectangle-button_wrap {
  height: 25px;
}

.tinder-page-button-wrap .rectangle-button_icon {
  align-self: flex-end;
  margin-right: 7px;
  margin-bottom: 2px;
}

.tinder-page-welcome {
  position: absolute;
  background-color: #4986CC;

  border-radius: 32px;
  top: 78px;
  width: 75%;
  left: 12.5%;

  z-index: 3;
}

.tinder-page-welcome_title {
  font-family: Roboto, sans-serif;
  margin: 40px 0 25px 40px;
  color: #ffffff;
  font-size: 20px;
}

.tinder-page-welcome_text {
  font-family: Roboto, sans-serif;
  width: 70%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-left: 40px;
  line-height: 18px;
  margin-bottom: 30px;
}

.tinder-page-welcome_button {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;
}

.tinder-page-welcome_button .rectangle-button {
  width: 114px;
  box-shadow: none;
  border: 2px solid #8EC8FF;
  color: #fff;
}

.tinder-page-welcome-image_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.Panel--android .tinder-page-welcome_button .rectangle-button_text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}
