.View--ios .tinder_page_wrap {
  height: calc(100vh - 24px - var(--tabbar_height) - var(--panelheader_height_ios) - var(--safe-area-inset-top)); 
}

.View--android .tinder_page_wrap {
  height: calc(100vh - 24px - var(--tabbar_height) - var(--panelheader_height_android)); 
}

.tinder_page_wrap {
  display: grid;
  align-content: center;
  grid-template-rows: auto 46px;
  grid-gap: 12px;
  padding: 12px 20px;
}

.swipeable_card {
  display: flex;
  position: "absolute";
  cursor: pointer;
  user-select: none;
}

.tinder_buttons_wrap {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.tinder-page-welcome {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #4986CC;
  border-radius: 32px;
  width: 80vw;
  height: 80vw;
  padding: 12px 0;
  z-index: 3;
  grid-template-rows: 1fr 1fr 1fr 1fr max-content;
  grid-row-gap: 4px;
}

.tinder-page-welcome_title {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-size: 20px;
}

.tinder-page-welcome_text {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.tinder-page-welcome_button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tinder-page-welcome_button .rectangle-button {
  width: 40%;
  box-shadow: none;
  border: 2px solid #8EC8FF;
  color: #fff;
}

.tinder-page-welcome-image_wrap {
  display: flex;
}

.tinder-page-welcome_ckeckbox .Checkbox {
  padding: 4px;
}

.tinder-page-welcome_ckeckbox .Checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
}

.tinder-page-welcome_ckeckbox .Checkbox__input:checked~.Checkbox__container .Checkbox__icon {
  background-color: #fff;
  color: black;
}

.tinder-page-welcome_ckeckbox .Checkbox__content {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

.Panel--android .tinder-page-welcome_button .rectangle-button_text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}