.tinder_page .PanelHeader--android .PanelHeader-bg {
  box-shadow: none;
}

.tinder_page {
  display: flex;
  padding: 0px 24px;
}

.Panel--ios .tinder_page {
  height: 100vh;
}

/* .Panel--ios .tinder_page {
  height: calc(100vh + var(--tabbar_height) + var(--panelheader_height_ios))
} */

/* .Panel--ios .tinder_page {
  height: calc(100vh + 64px - (var(--tabbar_height) + var(--panelheader_height_ios)))
} */

.Panel--android .tinder_page {
  height: calc(100vh + 64px - (var(--tabbar_height) + var(--panelheader_height_android)))
}

.tinder_page_wrap {
  display: grid;
  grid-template-rows: 1fr 64px;
}

.tinder_buttons_wrap {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.tinder-page-welcome {
  position: absolute;
  background-color: #4986CC;
  border-radius: 32px;
  top: 25%;
  width: 75%;
  left: 12.5%;
  z-index: 3;
}

.tinder-page-welcome_title {
  font-family: Roboto, sans-serif;
  margin: 40px 0 25px 40px;
  color: #ffffff;
  font-size: 20px;
}

.tinder-page-welcome_text {
  font-family: Roboto, sans-serif;
  width: 70%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-left: 40px;
  line-height: 18px;
  margin-bottom: 30px;
}

.tinder-page-welcome_button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.tinder-page-welcome_button .rectangle-button {
  width: 114px;
  box-shadow: none;
  border: 2px solid #8EC8FF;
  color: #fff;
}

.tinder-page-welcome-image_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.Panel--android .tinder-page-welcome_button .rectangle-button_text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}
