.main-header {
  height: 48px;
}

.header-left {
  flex-grow: 0;
}
/* .header-right-button-block {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  margin-right: 6px;

  width: 88px;
  height: 32px;
  background-color: rgba(174, 191, 207, 0.1);
  border-radius: 10px;
}

.header-right-button-block_position {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}

.header-right-button-block_position:nth-child(1):after {
  position: absolute;
  content: '';
  width: 1px;
  height: 24px;
  background-color: rgba(174, 191, 207, 0.3);
  left: 30px;
}

.PanelHeader--ios .PanelHeader-right .HeaderButton > *:not(.Icon) {
  padding-right: 0;
}

.PanelHeader--ios .PanelHeader-right .HeaderButton:not(:first-child) {
  padding-left: 0;
}

.HeaderButton--android {
  line-height: 0;
} */

.svg-icon-more, .svg-icon-close {
  align-self: center;
}

.PanelHeaderContent--android .PanelHeaderContent__children{
  font-size: 16px;
}

.PanelHeaderContent--android .PanelHeaderContent__children .PanelHeaderContent__aside .svg-icon-chevron-right {
  width: 4.12px;
  height: 8.23px;
}

.PanelHeaderContent--android .PanelHeaderContent__children .PanelHeaderContent__aside .svg-icon-chevron-right path {
  stroke-width: 3;
}

.PanelHeaderContent--ios .PanelHeaderContent__aside {
  margin-left: 15px;
}
.PanelHeaderContent--android .PanelHeaderContent__aside {
  margin-left: 15px;
  opacity: 1;
}

/* .PanelHeader--ios #panel-header-tinder .PanelHeader-left-in .HeaderButton > *:not(.Icon) {
 padding-left: 0;
  margin-left: 16px;
} */

#panel-header-tinder .PanelHeaderContent--android {
  width: 100%;
}

#panel-header-tinder .PanelHeaderContent--android .PanelHeaderContent__in {
  width: 100%;
}

#panel-header-tinder .PanelHeaderContent--android .PanelHeaderContent__in .PanelHeaderContent__children{
  width: 100%;
}

#panel-header-tinder .PanelHeaderContent--android .PanelHeaderContent__in .PanelHeaderContent__children span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#panel-header-tinder .PanelHeaderContent--android .PanelHeaderContent__in .PanelHeaderContent__children span .like-counter_wrap {
  margin-left: -25%;
}

.header-question-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background-color: rgba(174, 191, 207, 0.1);
  width: 34px;
  height: 34px;
}

/* .PanelHeader--android .PanelHeader-bg {
  box-shadow:0 0 16px rgba(64,64,64,0.05);
} */
