.Panel--tm-gray .Panel__in {
  background-color: #F7F8F9;
}

.all-product-page_wrap {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 16px;
}

.all-product-page_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Panel--ios .all-product-page_content {
  justify-content: space-around;
}

.Panel--android .all-product-page_content {
  justify-content: space-around;
}




