.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  cursor: pointer;
}

.Panel--ios .checkbox_wrap {
  width: 51px;
  height: 31px;
}

.Panel--android .checkbox_wrap {
  width: 34px;
  height: 14px;
}

.Panel--ios .checkbox_wrap label {
   top: 3px
}

.Panel--android .checkbox_wrap label {
  top: 5px
}


.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 51px;
  height: 31px;
  border-radius: 32px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}

.Panel--android .checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 34px;
  height: 14px;
  border-radius: 32px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}

.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}

.Panel--android .checkbox + label:after {
  top: -6px;
  left: -2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
}

.checkbox:checked + label:before {
  background: #528BCC;
}

.Panel--android .checkbox:checked + label:before {
  background-color: rgba(73, 134, 204, 0.4);
}

.checkbox:checked + label:after {
  left: 22px;
}

.Panel--android .checkbox:checked + label:after {
  left: 18px;
  background-color: #4986CC;
}

