.search-panel-three {
  background-color: #F7F8F9;
}

.search-panel-three_wrap {
  display: flex;
  flex-wrap: wrap;
}

.Panel--ios .search-panel-three_wrap {
  justify-content: space-around;
}

.Panel--android .search-panel-three_wrap {
  justify-content: space-around;
}
