.product-card-like-brand_wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: auto;
}

.product-card-like-brand_wrap .HorizontalScroll {
  background-color: #F7F8F9;
}

.product-card-like-brand-title {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 24px;
}

.like-brand-title_text {
  margin-right: 6px;
  font-weight: 500;
  color: #AEBFCF;
}

.Panel--ios .like-brand-title_text {
  font-size: 16px;
}

.Panel--android .like-brand-title_text {
  font-size: 12px;
}

.product-card-like-brand {
  justify-items: center;
  align-items: center;
  display: grid;
  width: 100%;
  height: auto;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  column-gap: 20px;
  padding: 12px;
}

.product-card-like-brand .product-card-small_wrap {
  display: flex;
  width: 100px;
  height: auto;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
}
