.product-card-like-brand {
  background-color: #F7F8F9;
  border-top: 1px solid #EDEFF2;
}

.product-card-like-brand-title {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}

.like-brand-title_text {
  margin-right: 5px;
  font-weight: 500;
  color: #AEBFCF;
}

.Panel--ios .like-brand-title_text {
  font-size: 16px;
}

.Panel--android .like-brand-title_text {
  font-size: 12px;
  text-transform: uppercase;
}

.Panel--android .like-brand-title_color {
  color: #404040;
}

.product-card-like-brand_wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product-card-like-brand_wrap .product-card-small_wrap {
  width: 100%;
  height: 100%;
}

.product-card-like-brand_wrap .Gallery__slide {
  margin-right: 16px;
}

.product-card-like-brand_wrap .Gallery {
  height: 100%;
}

.product-card-like-brand_wrap .Gallery__layer {
}
