.product-card-like-brand_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-card-like-brand-title {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 24px;
}

.like-brand-title_text {
  margin-right: 6px;
  font-weight: 500;
  color: #AEBFCF;
}

.Panel--ios .like-brand-title_text {
  font-size: 16px;
}

.Panel--android .like-brand-title_text {
  font-size: 12px;
}

.product-card-like-brand {
  justify-items: center;
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 8px;
  row-gap: 8px;
  padding: 0 16px 16px;
}

.product-card-like-brand .product-card-small_wrap {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  margin: 0;
}

.Panel--ios .product-card-like-brand .product-card-small_wrap {
  width: 100%;
}

.Panel--android .product-card-like-brand .product-card-small_wrap {
  width: 100%;
}
